.form__button {
  margin: 0;
  margin-top: 18px;
  padding: 13px 0 13px;
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 1.22;
  cursor: pointer;
  position: relative;

}

.form__button:hover {
  background-color: rgba(0, 0, 0, .8);
}


@media screen and (max-width: 425px) {
  .form__button {
    font-size: 14px;
    padding: 14px 0 14px;
    margin-top: 45px;
  }

}
