@media screen and (max-width: 768px) {
  .header__mobile-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 28px 30px 32px;
    box-sizing: border-box;
  }  
}