.photo-card__title {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  max-width: 80%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
