.footer {
  flex-shrink: 0;
  max-width: 880px;
  width: calc(100% - 96px);
  padding-bottom: 60px;
}

@media screen and (max-width: 425px) {
  .footer {
    width: calc(100% - 38px);
    padding-bottom: 36px;
  }
}

