.form__title_place_auth-screen {
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .form__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}