.popup__img-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 25px; /* для центрирования картинки, подпись смещает ее вверх, отступ сверху нивелирует это смещение*/
}
