@import url(./vendor/normalize.css);
@import url(./vendor/Inter/Inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/loading-screen/page_loading.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/header/__auth/_hidden/header__auth_hidden.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__auth-action/header__auth-action.css);
@import url(./blocks/header/__auth-action/_type/header__auth-action_type_exit.css);
@import url(./blocks/header/__auth-profile/header__auth-profile.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__burger-button/header__burger-button.css);

@import url(./blocks/auth-screen/auth-screen.css);

@import url(./blocks/content/content.css);
@import url(./blocks/main/main.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/photo-card/photo-card.css);
@import url(./blocks/photo-card/__image/photo-card__image.css);
@import url(./blocks/photo-card/__caption/photo-card__caption.css);
@import url(./blocks/photo-card/__title/photo-card__title.css);
@import url(./blocks/photo-card/__likes-wrapper/photo-card__likes-wrapper.css);
@import url(./blocks/photo-card/__like-button/photo-card__like-button.css);
@import url(./blocks/photo-card/__likes-counter/photo-card__likes-counter.css);
@import url(./blocks/photo-card/__like-button/_liked/photo-card__like-button_liked.css);
@import url(./blocks/photo-card/__delete-button/photo-card__delete-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_content/popup_content_zoomed-card-image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__img-wrapper/popup__img-wrapper.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/_place/form_place_auth-screen.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title/_place/form__title_place_auth-screen.css);
@import url(./blocks/form/__item/form__item.css);
@import url(./blocks/form/__item/_place/form__item_place_auth-screen.css);
@import url(./blocks/form/__item/_type/form__item_type_error.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__button/_place/form__button_place_auth-screen.css);
@import url(./blocks/form/__bottom-link/form__bottom-link.css);

@import url(./blocks/popup/__zoomed-image/popup__zoomed-image.css);
@import url(./blocks/popup/__zomed-image-caption/popup__zoomed-image-caption.css);
@import url(./blocks/popup/__error-message/popup__error-message.css);

@import url(./blocks/popup/__tooltip-img/popup__tooltip-img.css);
@import url(./blocks/popup/__tooltip-message/popup__tooltip-message.css);

@import url(./blocks/page-not-found/page-not-found.css);
@import url(./blocks/page-not-found/__inner/page-not-found__inner.css);
@import url(./blocks/page-not-found/__title/page-not-found__title.css);
@import url(./blocks/page-not-found/__subtitle/page-not-found__subtitle.css);
@import url(./blocks/page-not-found/__link-home/page-not-found__link-home.css);