.header {
  padding: 45px 0 40px;
  max-width: 880px;
  width: calc(100% - 96px);
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 425px) {
  .header {
    padding: 28px 0 30.6px;
    width: 100%;
  }
}

