.content {
  max-width: 880px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 768px) {
  .content {
    width: calc(100% - 56px);
  }
}

@media screen and (max-width: 425px) {
  .content {
    width: calc(100% - 38px);
  }
}
